input {
    color: rgb(89, 106, 163);
    background-color: rgb(210, 210, 210);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-size: 400%;
    margin: 6px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
}

div {
    font-weight: bold;
    font-size: 400%;
    color: rgb(75, 117, 255);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

button {
    color: white;
    border: none;
    background-color: rgb(90, 90, 90);
    font-size: 200%;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 30px rgb(0, 0, 0);
}
